<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/styles.css" />
    <title>New message</title>
  </head>
  <body>
    <form action="/new" method="post">
      <label for="name"> Name: </label>
      <input type="text" name="name" />
      <label for="message"> Message: </label>
      <input type="text" name="message" />
      <button type="submit">Post</button>
    </form>
  </body>
</html>
