<!-- index.ejs -->
<html>
  <head>
    <link rel="stylesheet" href="/styles.css" />
    <title>Homepage</title>
  </head>
  <body>
    <header>
      <h1>Messages</h1>
    </header>
    <ul>
      <% messages.forEach(message => { %> <%- include('message', { message:
      message }) %> <% }) %>
    </ul>
  </body>
</html>
