* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  align-items: center;
}

ul {
  list-style-type: none;
}

form {
  display: flex;
  flex-direction: column;
  margin: auto;
}

input {
  display: block;
  margin-bottom: 20px;
}